body {
    background-color: #a16710;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin: 0;
    font-family: 'Pirata One', cursive;
}

/* @font-face {
    font-family: 'one_piece_font';
    src: url('../../Documentos/Fonts/webfontkit-20220608-173114/one_piece_font-webfont.woff2') format('woff2'),
         url('../../Documentos/Fonts/webfontkit-20220608-173114/one_piece_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

.header {
    display: flex;
    grid-area: header;
    text-align: center;
    font-size: 3.7rem;
    margin-top: 70px;
    background-color: black;
    color: blue;
    border: 50px solid black;
    justify-content: center;
    align-items: center;
}

.jolly-roger {
    width: 75px;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
    border: solid rgb(78, 41, 14) 10px;
    height: 80vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.social-media-links, .social-media-links::after {
    font-size: 1.8rem;
    text-decoration: none;
    color: rgb(78, 41, 14); 
}

.social-media-links:hover {
    color: saddlebrown;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    border: solid 15px black;
    padding: 15px;
    background-color: red;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "footer footer footer";
}